#wrapper{
  width: 1060px;
  margin-left: 200px;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "header header"
  "nav    main"
  "footer footer"

}

a:link{
  color: #00a650;
}

a:visited{
  color: #ed1b24;
}

a:hover{
  color: #fff;
}

a:visited{
  color: #f8fd03;
}

header{
  grid-area: header;
}

nav{
  grid-area: nav;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
}

h1{
  font-size: 72px;
  font-family: "Permanent Marker", sans-serif;
  color: #fff;
}

h2{
  font-size: 50px;
  font-family: "Architects Daughter", sans-serif;
  background-color: #fff;
}

h3{
  font-size: 30px;
  background-color: #00a650;
  font-family: "Architects Daughter", sans-serif;
}

nav li{
  list-style-type: square;
  font-size: 20px;
  color: #ed1b24;

}

li{
  list-style-type: square;
  font-size: 20px;
  font-family: "Architects Daughter", sans-serif;
  font-weight: 600;
}

p{
  font-size: 20px;
  background-color: #ed1b24;
  font-family: "Architects Daughter", sans-serif;
  font-weight: 600;
}

html{
  background-color:  #793d01;
}

table{
  font-weight: 600;
  background-color: #00a650;
  padding: 5px;
  border: 1px solid #000;
}

footer{
  border-color: #fff;
}
